<h1> Proyecto Individual 2 </h1>

<h3>Importacion de Librerias </h3>

In [1]:
# Vamos a importar las librrias necesarias para trabajar con el ETL
import pandas as pd
import numpy as np

<h2> Vamos a importar todos los df del dataset Internet.xlsx </h2>

In [2]:
# Cargamos el df: Acceso_vel_por_localidad_sin_rangos
df_acc_vel_loc = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Acc_vel_loc_sinrangos')
df_acc_vel_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066 entries, 0 to 3065
Columns: 136 entries, Provincia to 1024 Mbps
dtypes: float64(132), object(4)
memory usage: 3.2+ MB

In [3]:
# Cargamos el df: Velocidad_sin_Rangos
df_vel_prov = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Velocidad_sin_Rangos')
df_vel_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Columns: 193 entries, Año to 10000 Mbps
dtypes: float64(191), int64(1), object(1)
memory usage: 906.3+ KB

In [4]:
# Cargamos el df: Velocidad % por provincia
df_porcentaje_vel_prov = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Velocidad % por prov')
df_porcentaje_vel_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     960 non-null    int64
 1   Trimestre               960 non-null    int64
 2   Provincia               960 non-null    object
 3   Mbps (Media de bajada)  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [5]:
# Cargamos el df: Totales VMD
df_total_vmd = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Totales VMD')
df_total_vmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     40 non-null     int64
 1   Trimestre               40 non-null     int64
 2   Mbps (Media de bajada)  40 non-null     float64
 3   Trimestre.1             40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [6]:
# Cargamos el df: Accesos_tecnologia_por_localidad
df_acc_tec_loc = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Accesos_tecnologia_localidad')
df_acc_tec_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3076 non-null   object
 1   Partido        3076 non-null   object
 2   Localidad      3076 non-null   object
 3   Link Indec     3076 non-null   object
 4   ADSL           3076 non-null   int64
 5   CABLEMODEM     3076 non-null   int64
 6   DIAL UP        3076 non-null   int64
 7   FIBRA OPTICA   3076 non-null   int64
 8   OTROS          3076 non-null   int64
 9   SATELITAL      3076 non-null   int64
 10  WIMAX          3076 non-null   int64
 11  WIRELESS       3076 non-null   int64
 12  Total general  3076 non-null   int64
dtypes: int64(9), object(4)
memory usage: 312.5+ KB

In [7]:
# Cargamos el df: Totales Accesos Por Tecnologia
df_total_acc_tec_nac = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Totales Accesos Por Tecnología')
df_total_acc_tec_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           40 non-null     int64
 1   Trimestre     40 non-null     int64
 2   ADSL          40 non-null     int64
 3   Cablemodem    40 non-null     int64
 4   Fibra óptica  40 non-null     int64
 5   Wireless      40 non-null     int64
 6   Otros         40 non-null     int64
 7   Total         40 non-null     int64
 8   Periodo       40 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.9+ KB

In [8]:
# Cargamos el df: Accesos Por Tecnologia
df_acc_tec_prov = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Accesos Por Tecnología')
df_acc_tec_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           961 non-null    object
 1   Trimestre     961 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 67.8+ KB

In [9]:
# Cargamos el df: Dial-BAf
df_dial_baf = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Dial-BAf')
df_dial_baf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               960 non-null    int64
 1   Trimestre         960 non-null    int64
 2   Provincia         960 non-null    object
 3   Banda ancha fija  960 non-null    int64
 4   Dial up           958 non-null    float64
 5   Total             960 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 45.1+ KB

In [10]:
# Cargamos el df: Totales Dial-BAf
df_total_dial_baf = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Totales Dial-BAf')
df_total_dial_baf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               40 non-null     int64
 1   Trimestre         40 non-null     int64
 2   Banda ancha fija  40 non-null     int64
 3   Dial up           40 non-null     int64
 4   Total             40 non-null     int64
 5   Periodo           40 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.0+ KB

In [11]:
# Cargamos el df: Penetracion-poblacion
df_pen_poblacion = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Penetración-poblacion')
df_pen_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       960 non-null    int64
 1   Trimestre                 960 non-null    int64
 2   Provincia                 960 non-null    object
 3   Accesos por cada 100 hab  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [12]:
# Cargamos el df: Penetracion-hogares
df_pen_hogares = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Penetracion-hogares')
df_pen_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [13]:
# Cargamos el df: Penetracion-totales
df_pen_total = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Penetracion-totales')
df_pen_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           40 non-null     int64
 1   Trimestre                     40 non-null     int64
 2   Accesos por cada 100 hogares  40 non-null     float64
 3   Accesos por cada 100 hab      40 non-null     float64
 4   Periodo                       40 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ KB

In [14]:
# Cargamos el df: Totales Accesos por velocidad
df_total_acc_vel = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Totales Accesos por velocidad')
df_total_acc_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   Hasta 512 kbps           40 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  40 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    40 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   40 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  40 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  40 non-null     int64
 8   Más de 30 Mbps           40 non-null     int64
 9   OTROS                    40 non-null     int64
 10  Total                    40 non-null     int64
dtypes: int64(11)
memory usage: 3.6 KB

In [15]:
# Cargamos el df: Accesos por velocidad
df_acc_vel = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Accesos por velocidad')
df_acc_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  960 non-null    int64
 1   Trimestre            960 non-null    int64
 2   Provincia            960 non-null    object
 3   HASTA 512 kbps       960 non-null    float64
 4   + 512 Kbps - 1 Mbps  960 non-null    float64
 5   + 1 Mbps - 6 Mbps    960 non-null    float64
 6   + 6 Mbps - 10 Mbps   960 non-null    float64
 7   + 10 Mbps - 20 Mbps  960 non-null    float64
 8   + 20 Mbps - 30 Mbps  960 non-null    float64
 9   + 30 Mbps            960 non-null    float64
 10  OTROS                954 non-null    float64
 11  Total                960 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 90.1+ KB

In [16]:
# Cargamos el df: Ingresos
df_ingresos = pd.read_excel('Datasets Obligatorios/Internet.xlsx', sheet_name='Ingresos')
df_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        40 non-null     int64
 1   Trimestre                  40 non-null     int64
 2   Ingresos (miles de pesos)  40 non-null     float64
 3   Periodo                    40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [17]:
df_conectividad = pd.read_excel('Datasets Complementarios/mapa_conectividad.xlsx', sheet_name='Hoja3')
df_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   Población       4311 non-null   int64
 4   ADSL            4311 non-null   object
 5   Cablemódem      4311 non-null   object
 6   Dial Up         4311 non-null   object
 7   Fibra óptica    4311 non-null   object
 8   Satelital       4311 non-null   object
 9   Wireless        4311 non-null   object
 10  Telefonía Fija  4311 non-null   object
 11  3G              4311 non-null   object
 12  4G              4311 non-null   object
 13  Link            4299 non-null   float64
 14  Latitud         4311 non-null   float64
 15  Longitud        4311 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 539.0+ KB

<h2> Vamos a empezar revisar los df y hacer cambios necesarios para mejor trabajo </h2>

In [18]:
# Revisión de la información de los df
df_pen_hogares.info()
df_pen_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       960 non-null    int64
 1   Trimestre                 960 non-null    int64
 2   Provincia                 960 non-null    object
 3   Accesos por cada 100 hab  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [19]:
# Combinamos los df considerando las columnnas "Año", "Trimestre" y "Provincia"
df_combinado_penetracion = pd.merge(df_pen_poblacion, df_pen_hogares, on=['Año', 'Trimestre', 'Provincia'])
df_combinado_penetracion.info()
df_combinado_penetracion.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hab      960 non-null    float64
 4   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 37.6+ KB

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2023,4,Buenos Aires,27.68,80.96
1,2023,4,Capital Federal,47.80,117.02
2,2023,4,Catamarca,17.46,68.63
3,2023,4,Chaco,11.85,44.35
4,2023,4,Chubut,26.04,84.96

In [20]:
# Revisión de la información del df Acceso de tecnologia por provincia:
df_acc_tec_prov.info()
df_acc_tec_prov.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           961 non-null    object
 1   Trimestre     961 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 67.8+ KB

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,Buenos Aires,223391.0,2797700.0,1784593.0,137993.0,67943.0,5011620.0
1,2023,4,Capital Federal,58700.0,1198835.0,182520.0,4492.0,29820.0,1474367.0
2,2023,4,Catamarca,6669.0,11016.0,55437.0,1384.0,81.0,74587.0
3,2023,4,Chaco,14000.0,60277.0,62301.0,8404.0,2404.0,147386.0
4,2023,4,Chubut,26306.0,77217.0,26174.0,30543.0,9930.0,170170.0

In [21]:
# Al revisar este df vemos que hay datos con errores
df3 = df_acc_tec_prov.copy()

In [22]:
# Vamos a sacar los "*" que contienen valores en la columna Año y Trimestre
df3['Año'] = df3['Año'].apply(lambda x: x.replace('*', '') if isinstance(x, str) else x)
df3['Trimestre'] = df3['Trimestre'].apply(lambda x: x.replace('*', '') if isinstance(x, str) else x)

In [23]:
# Filtra las filas en 'Trimestre' que no son cadenas de texto y convertimos a INT la columna
df3 = df3[pd.to_numeric(df3['Trimestre'], errors='coerce').notna()]
df3['Trimestre'] = df3['Trimestre'].astype(int)

# Pasamos la columna año a INT
df3['Año'] = df3['Año'].astype(int)

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           960 non-null    int64
 1   Trimestre     960 non-null    int64
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 75.0+ KB

In [25]:
# Combinamos el df corregido con el previamente obtenido, considerando las mismas columnas
df_combinado2 = pd.merge(df3, df_combinado_penetracion, on=['Año', 'Trimestre', 'Provincia'])
df_combinado2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Total                         960 non-null    float64
 9   Accesos por cada 100 hab      960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 82.6+ KB

<h3> En este punto, se procede a unir df que contienen la misma cantidad de informnación o que están vinculados por el tipo de información que expresan </h3>

In [26]:
# Union de los df: df_dial_baf
df_combinado3 = pd.merge(df_combinado2, df_dial_baf, on=['Año', 'Trimestre', 'Provincia'])
df_combinado3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Total_x                       960 non-null    float64
 9   Accesos por cada 100 hab      960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
 11  Banda ancha fija              960 non-null    int64
 12  Dial up                       958 non-null    float64
 13  Total_y                       960 non-null    int64
dtypes: float64(9), int64(4), object(1)
memory usage: 105.1+ KB

In [27]:
# Adición de los df: df_acc_vel
df_combinado4 = pd.merge(df_combinado3, df_acc_vel, on=['Año', 'Trimestre', 'Provincia'])
df_combinado4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           936 non-null    int64
 1   Trimestre                     936 non-null    int64
 2   Provincia                     936 non-null    object
 3   ADSL                          936 non-null    float64
 4   Cablemodem                    936 non-null    float64
 5   Fibra óptica                  936 non-null    float64
 6   Wireless                      936 non-null    float64
 7   Otros                         936 non-null    float64
 8   Total_x                       936 non-null    float64
 9   Accesos por cada 100 hab      936 non-null    float64
 10  Accesos por cada 100 hogares  936 non-null    float64
 11  Banda ancha fija              936 non-null    int64
 12  Dial up                       934 non-null    float64
 13  Total_y                       936 non-null    int64
 14  HASTA 512 kbps                936 non-null    float64
 15  + 512 Kbps - 1 Mbps           936 non-null    float64
 16  + 1 Mbps - 6 Mbps             936 non-null    float64
 17  + 6 Mbps - 10 Mbps            936 non-null    float64
 18  + 10 Mbps - 20 Mbps           936 non-null    float64
 19  + 20 Mbps - 30 Mbps           936 non-null    float64
 20  + 30 Mbps                     936 non-null    float64
 21  OTROS                         930 non-null    float64
 22  Total                         936 non-null    float64
dtypes: float64(18), int64(4), object(1)
memory usage: 168.3+ KB

In [28]:
# Unión de los df: df_total_dial_baf, df_total_vmd 
df_nac = pd.merge(df_total_dial_baf, df_total_vmd, on=['Año', 'Trimestre'])
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     40 non-null     int64
 1   Trimestre               40 non-null     int64
 2   Banda ancha fija        40 non-null     int64
 3   Dial up                 40 non-null     int64
 4   Total                   40 non-null     int64
 5   Periodo                 40 non-null     object
 6   Mbps (Media de bajada)  40 non-null     float64
 7   Trimestre.1             40 non-null     object
dtypes: float64(1), int64(5), object(2)
memory usage: 2.6+ KB

In [29]:
# Se agregan: df_total_acc_vel, df_ingresos, df_total_acc_tec_nac 
df_nac2 = pd.merge(df_nac, df_total_acc_vel, on=['Año', 'Trimestre'])
df_nac3 = pd.merge(df_nac2, df_ingresos, on=['Año', 'Trimestre'])
df_nac4 = pd.merge(df_nac3, df_total_acc_tec_nac, on=['Año', 'Trimestre'])

In [30]:
# Revisión del df final obtenido
df_nac4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        38 non-null     int64
 1   Trimestre                  38 non-null     int64
 2   Banda ancha fija           38 non-null     int64
 3   Dial up                    38 non-null     int64
 4   Total_x                    38 non-null     int64
 5   Periodo_x                  38 non-null     object
 6   Mbps (Media de bajada)     38 non-null     float64
 7   Trimestre.1                38 non-null     object
 8   Hasta 512 kbps             38 non-null     int64
 9   Entre 512 Kbps y 1 Mbps    38 non-null     int64
 10  Entre 1 Mbps y 6 Mbps      38 non-null     int64
 11  Entre 6 Mbps y 10 Mbps     38 non-null     int64
 12  Entre 10 Mbps y 20 Mbps    38 non-null     int64
 13  Entre 20 Mbps y 30 Mbps    38 non-null     int64
 14  Más de 30 Mbps             38 non-null     int64
 15  OTROS                      38 non-null     int64
 16  Total_y                    38 non-null     int64
 17  Ingresos (miles de pesos)  38 non-null     float64
 18  Periodo_y                  38 non-null     object
 19  ADSL                       38 non-null     int64
 20  Cablemodem                 38 non-null     int64
 21  Fibra óptica               38 non-null     int64
 22  Wireless                   38 non-null     int64
 23  Otros                      38 non-null     int64
 24  Total                      38 non-null     int64
 25  Periodo                    38 non-null     object
dtypes: float64(2), int64(20), object(4)
memory usage: 7.8+ KB

In [31]:
df_conectividad

,Provincia,Partido,Localidad,Población,ADSL,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Link,Latitud,Longitud
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),1853,Sí,--,--,--,--,--,Sí,Sí,Sí,6588010.0,-35.292982,-61.407254
1,BUENOS AIRES,9 de Julio,Carlos María Naón,497,--,--,--,--,--,--,Sí,Sí,Sí,6588020.0,-35.239499,-60.825136
2,BUENOS AIRES,9 de Julio,Dudignac,2670,--,--,Sí,--,--,Sí,Sí,Sí,Sí,6588040.0,-35.651193,-60.709896
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),531,--,--,--,--,--,--,--,--,Sí,6588050.0,-35.407947,-61.210567
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),748,Sí,--,--,Sí,--,--,Sí,Sí,Sí,6588060.0,-35.520141,-60.998949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4306,SANTA FE,Castellanos,Virginia,151,--,--,--,--,--,Sí,--,--,--,6638040.0,-30.740253,-61.340967
4307,SANTA FE,Castellanos,Zenón Pereyra,1637,--,Sí,--,--,--,--,--,Sí,Sí,6638040.0,-31.564397,-61.898425
4308,SANTA FE,Constitución,Alcorta,7450,Sí,Sí,--,Sí,--,Sí,Sí,Sí,Sí,6638040.0,-33.540198,-61.124634
4309,SANTA FE,Constitución,Barrio Arroyo del Medio,310,--,--,--,--,--,--,--,--,--,6638040.0,-33.286067,-60.272098
4310,SANTA FE,Constitución,Barrio Mitre,816,--,--,--,--,--,--,--,Sí,Sí,6638040.0,-33.255595,-60.389776

In [32]:
# Unión de los df: accesos_tecno_loc, conecectividad

# Seleccionamos solo las columnas necesarias de df_conectividad
df_conectividad_seleccion = df_conectividad[['Provincia', 'Partido', 'Localidad', 'Longitud', 'Latitud']]

# Realizamos el merge con df_acc_tec_loc
df_partidos = pd.merge(df_acc_tec_loc, df_conectividad_seleccion, on=['Provincia', 'Partido', 'Localidad'])

# Mostramos información del dataframe resultante
df_partidos.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Longitud,Latitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,756,4600,0,3,0,742,0,726,6827,-60.173121,-35.433939
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192,-60.731609,-35.897345
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181,-60.081358,-35.164397
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,496,16,0,0,185,1479,-59.771933,-35.272779
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6,-59.988065,-35.483827

In [33]:
# Vamos a renombrar los dataFrame combinados que nos quedaron para posteriormente trabajar:

In [34]:
df_combinado = df_combinado4

In [35]:
df_total_nacional = df_nac4

In [36]:
df_total_provincias = df_partidos

#### Luego de esto, contamos con 3 dataframes que compila toda la información obligatoria:
##### -df_combinado
##### -df_total_nacional
##### -df_total_provincias
#### Ahora se procede a revisar la información contenida en cada uno de ellos

<h2> Transformación del primer df: </h2>

In [37]:
df_combinado.sample(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Accesos por cada 100 hab,...,Total_y,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
479,2018,4,Tucumán,159215.0,11670.0,119.0,686.0,314.0,172004.0,10.344120,...,172004,16.0,5244.00,82089.0,42766.00,26111.00,847.00,14839.0,92.0,172004.00
363,2019,4,Chaco,48661.0,53602.0,8831.0,5229.0,1580.0,117903.0,9.845063,...,117903,83.0,0.00,25899.0,18959.00,30902.00,13516.00,21556.0,6988.0,117903.00
169,2021,4,Capital Federal,111360.0,1205128.0,60005.0,5679.0,29947.0,1412119.0,45.848511,...,1412119,563.0,1695.00,47133.0,81899.00,66135.00,66755.00,1147939.0,0.0,1412119.00
572,2017,4,Santa Fe,341680.0,293831.0,10602.0,10965.0,15382.0,672460.0,19.405680,...,672460,3109.0,34132.00,309998.0,108939.00,151329.00,30736.00,19602.0,14119.0,671964.00
912,2014,1,Buenos Aires,1567685.0,1000879.0,120960.0,16528.0,33824.0,2739876.0,16.692346,...,2739876,8469.0,171244.48,2279875.0,121787.12,38923.32,206.16,4037.0,0.0,2624542.08

In [38]:
df_combinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           936 non-null    int64
 1   Trimestre                     936 non-null    int64
 2   Provincia                     936 non-null    object
 3   ADSL                          936 non-null    float64
 4   Cablemodem                    936 non-null    float64
 5   Fibra óptica                  936 non-null    float64
 6   Wireless                      936 non-null    float64
 7   Otros                         936 non-null    float64
 8   Total_x                       936 non-null    float64
 9   Accesos por cada 100 hab      936 non-null    float64
 10  Accesos por cada 100 hogares  936 non-null    float64
 11  Banda ancha fija              936 non-null    int64
 12  Dial up                       934 non-null    float64
 13  Total_y                       936 non-null    int64
 14  HASTA 512 kbps                936 non-null    float64
 15  + 512 Kbps - 1 Mbps           936 non-null    float64
 16  + 1 Mbps - 6 Mbps             936 non-null    float64
 17  + 6 Mbps - 10 Mbps            936 non-null    float64
 18  + 10 Mbps - 20 Mbps           936 non-null    float64
 19  + 20 Mbps - 30 Mbps           936 non-null    float64
 20  + 30 Mbps                     936 non-null    float64
 21  OTROS                         930 non-null    float64
 22  Total                         936 non-null    float64
dtypes: float64(18), int64(4), object(1)
memory usage: 168.3+ KB

In [39]:
# Comparar los valores de las columnas y contar los iguales
cantidad_iguales1 = (df_combinado['Total'] == df_combinado['Total_x']).sum()
cantidad_iguales2 = (df_combinado['Total'] == df_combinado['Total_y']).sum()
cantidad_iguales3 = (df_combinado['Total_x'] == df_combinado['Total_y']).sum()

# Imprimir la cantidad de valores iguales
print(cantidad_iguales1)
print(cantidad_iguales2)
print(cantidad_iguales3) # en este caso coinciden todos los valores

415
415
936

In [40]:
# Rellenar los valores NaN con 0
df_combinado = df_combinado.fillna(0)

# Convertir las columnas de float a int
df_combinado['Accesos por cada 100 hab'] = df_combinado['Accesos por cada 100 hab'].astype(int)
df_combinado['Accesos por cada 100 hogares'] = df_combinado['Accesos por cada 100 hogares'].astype(int)

#### Podemos notar que hay diferencia entre los resultados "Totales" procedentes de los distintos dataset originales.
#### En este caso, "Total_x" = "Total_y" (que suman los diferentes tipos de conexiones) pero difieren respecto a "Total" (procedente de la suma de Mbps) Como coinciden "Total_x" con "Total_y", se elimina la ultima columna.

In [41]:
# Eliminamos la ultima columna
df_combinado = df_combinado.drop('Total_y', axis=1)
df_combinado.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Accesos por cada 100 hab,...,Dial up,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2023,3,Buenos Aires,237705.0,2784175.0,1740239.0,137921.0,68197.0,4968237.0,27,...,5900.0,27440.0,24820.0,242010.0,241310.0,246076.0,112159.0,3951660.0,122762.0,4968237.0
1,2023,3,Capital Federal,60765.0,1205339.0,167428.0,4629.0,29823.0,1467984.0,47,...,2050.0,516.0,4690.0,28089.0,50899.0,34061.0,6020.0,1343709.0,0.0,1467984.0
2,2023,3,Catamarca,7164.0,11066.0,54650.0,1384.0,91.0,74355.0,17,...,1.0,71.0,224.0,3194.0,3893.0,4634.0,2124.0,60123.0,92.0,74355.0
3,2023,3,Chaco,16420.0,60058.0,54993.0,8267.0,2408.0,142146.0,11,...,5.0,236.0,462.0,14076.0,12874.0,6895.0,2970.0,100544.0,4089.0,142146.0
4,2023,3,Chubut,26352.0,75460.0,25827.0,30521.0,9908.0,168068.0,25,...,857.0,111.0,1470.0,44434.0,30908.0,24394.0,19608.0,30565.0,16578.0,168068.0

In [42]:
# Renombramos las columnas necesarias
df_combinado = df_combinado.rename(columns={'Total': 'Total suma Mbps'})
df_combinado = df_combinado.rename(columns={'Total_x': 'Total_conexion'})
df_combinado = df_combinado.rename(columns={'OTROS': 'Otros Mbps'})
df_combinado = df_combinado.rename(columns={'HASTA 512 kbps': 'Hasta 512 kbps'})

In [43]:
# Revisamos el nuevo df obtenido
df_combinado.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_conexion,Accesos por cada 100 hab,...,Dial up,Hasta 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,Otros Mbps,Total suma Mbps
0,2023,3,Buenos Aires,237705.0,2784175.0,1740239.0,137921.0,68197.0,4968237.0,27,...,5900.0,27440.0,24820.0,242010.0,241310.0,246076.0,112159.0,3951660.0,122762.0,4968237.0
1,2023,3,Capital Federal,60765.0,1205339.0,167428.0,4629.0,29823.0,1467984.0,47,...,2050.0,516.0,4690.0,28089.0,50899.0,34061.0,6020.0,1343709.0,0.0,1467984.0
2,2023,3,Catamarca,7164.0,11066.0,54650.0,1384.0,91.0,74355.0,17,...,1.0,71.0,224.0,3194.0,3893.0,4634.0,2124.0,60123.0,92.0,74355.0
3,2023,3,Chaco,16420.0,60058.0,54993.0,8267.0,2408.0,142146.0,11,...,5.0,236.0,462.0,14076.0,12874.0,6895.0,2970.0,100544.0,4089.0,142146.0
4,2023,3,Chubut,26352.0,75460.0,25827.0,30521.0,9908.0,168068.0,25,...,857.0,111.0,1470.0,44434.0,30908.0,24394.0,19608.0,30565.0,16578.0,168068.0

In [44]:
# Agrupar y resumir los datos:
df_agrupado = df_combinado.groupby(['Año', 'Trimestre', 'Provincia']).sum()
df_agrupado.sample(10)

,,,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_conexion,Accesos por cada 100 hab,Accesos por cada 100 hogares,Banda ancha fija,Dial up,Hasta 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,Otros Mbps,Total suma Mbps
Año,Trimestre,Provincia,,,,,,,,,,,,,,,,,,,
2015,2,Santiago Del Estero,33873.0,4365.0,19.0,1091.0,30.0,39378.0,4,17,39375,3.0,703.0,8779.0,23456.0,5553.0,888.0,0.0,0.0,0.0,39379.0
2016,2,Santa Cruz,15453.0,2722.0,396.0,4996.0,2586.0,26153.0,7,26,25797,356.0,244.0,26.0,31995.0,142.0,20.0,0.0,0.0,0.0,32427.0
2014,1,Santa Fe,322662.0,174296.0,3059.0,5951.0,644.0,506612.0,15,47,506000,612.0,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,0.0,506013.0
2019,2,Catamarca,25682.0,5543.0,13.0,146.0,2251.0,33635.0,8,32,33626,9.0,34.0,43.0,16631.0,8670.0,6049.0,34.0,10.0,2151.0,33622.0
2020,2,Formosa,21805.0,9353.0,1882.0,14723.0,169.0,47932.0,7,31,47932,0.0,391.0,151.0,23534.0,7109.0,6998.0,961.0,7475.0,1313.0,47932.0
2014,1,Chaco,52971.0,9497.0,30.0,0.0,58.0,62556.0,5,20,62520,36.0,438.0,15849.0,40869.0,4644.0,741.0,5.0,0.0,0.0,62546.0
2019,4,Tucumán,146985.0,11012.0,39574.0,725.0,348.0,198644.0,11,47,198621,23.0,55.0,0.0,54544.0,52017.0,28916.0,6405.0,56707.0,0.0,198644.0
2014,4,Chubut,48539.0,697.0,891.0,12256.0,6159.0,68542.0,12,40,66557,1985.0,1858.0,6218.0,60392.0,70.0,0.0,0.0,0.0,0.0,68538.0
2019,3,San Juan,51670.0,7425.0,1227.0,7241.0,5535.0,73098.0,9,37,72535,563.0,22.0,171.0,68315.0,2245.0,1267.0,41.0,128.0,4779.0,76968.0
2022,3,Santa Cruz,10170.0,24047.0,10815.0,3896.0,582.0,49510.0,12,43,49312,198.0,52.0,6841.0,12342.0,11313.0,11378.0,2333.0,4604.0,647.0,49510.0

<h2> Transformación del Segundo df: </h2>

In [45]:
df_total_nacional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        38 non-null     int64
 1   Trimestre                  38 non-null     int64
 2   Banda ancha fija           38 non-null     int64
 3   Dial up                    38 non-null     int64
 4   Total_x                    38 non-null     int64
 5   Periodo_x                  38 non-null     object
 6   Mbps (Media de bajada)     38 non-null     float64
 7   Trimestre.1                38 non-null     object
 8   Hasta 512 kbps             38 non-null     int64
 9   Entre 512 Kbps y 1 Mbps    38 non-null     int64
 10  Entre 1 Mbps y 6 Mbps      38 non-null     int64
 11  Entre 6 Mbps y 10 Mbps     38 non-null     int64
 12  Entre 10 Mbps y 20 Mbps    38 non-null     int64
 13  Entre 20 Mbps y 30 Mbps    38 non-null     int64
 14  Más de 30 Mbps             38 non-null     int64
 15  OTROS                      38 non-null     int64
 16  Total_y                    38 non-null     int64
 17  Ingresos (miles de pesos)  38 non-null     float64
 18  Periodo_y                  38 non-null     object
 19  ADSL                       38 non-null     int64
 20  Cablemodem                 38 non-null     int64
 21  Fibra óptica               38 non-null     int64
 22  Wireless                   38 non-null     int64
 23  Otros                      38 non-null     int64
 24  Total                      38 non-null     int64
 25  Periodo                    38 non-null     object
dtypes: float64(2), int64(20), object(4)
memory usage: 7.8+ KB

In [46]:
# Se eliminan las columnas
df_total_nacional = df_total_nacional.drop(['Periodo_x', 'Trimestre.1', 'Periodo_y', 'Periodo'], axis=1)
df_total_nacional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        38 non-null     int64
 1   Trimestre                  38 non-null     int64
 2   Banda ancha fija           38 non-null     int64
 3   Dial up                    38 non-null     int64
 4   Total_x                    38 non-null     int64
 5   Mbps (Media de bajada)     38 non-null     float64
 6   Hasta 512 kbps             38 non-null     int64
 7   Entre 512 Kbps y 1 Mbps    38 non-null     int64
 8   Entre 1 Mbps y 6 Mbps      38 non-null     int64
 9   Entre 6 Mbps y 10 Mbps     38 non-null     int64
 10  Entre 10 Mbps y 20 Mbps    38 non-null     int64
 11  Entre 20 Mbps y 30 Mbps    38 non-null     int64
 12  Más de 30 Mbps             38 non-null     int64
 13  OTROS                      38 non-null     int64
 14  Total_y                    38 non-null     int64
 15  Ingresos (miles de pesos)  38 non-null     float64
 16  ADSL                       38 non-null     int64
 17  Cablemodem                 38 non-null     int64
 18  Fibra óptica               38 non-null     int64
 19  Wireless                   38 non-null     int64
 20  Otros                      38 non-null     int64
 21  Total                      38 non-null     int64
dtypes: float64(2), int64(20)
memory usage: 6.7 KB

In [47]:
df_total_nacional.head(10)

,Año,Trimestre,Banda ancha fija,Dial up,Total_x,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,...,Más de 30 Mbps,OTROS,Total_y,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,3,11395115,11793,11406908,129.67,30274,80609,945608,998725,...,8003269,277421,11406908,1.331066e+08,897895,6018832,3708718,581436,200027,11406908
1,2023,2,11239781,12116,11251897,123.95,30827,79405,963510,1028250,...,7775095,275955,11251897,1.180603e+08,1006509,5997149,3463988,581823,202428,11251897
2,2022,4,11195668,12446,11208114,106.56,31981,85668,1075272,1109421,...,7410902,394282,11208114,7.244348e+07,1315373,6037457,3060575,572969,221740,11208114
3,2022,3,11078691,12437,11091128,62.46,33013,96727,1161370,1151906,...,6995750,349035,11091128,6.408678e+07,1395277,6031970,2871541,557110,235230,11091128
4,2022,2,10946248,12436,10958684,58.44,33667,99498,1193090,1197030,...,6741922,351594,10958684,6.041950e+07,1468333,5979214,2723285,556243,231609,10958684
5,2022,1,10611390,12619,10624009,55.11,34890,104840,1263273,1209148,...,6336187,198333,10624009,5.521931e+07,1533240,6073426,2219533,545814,251996,10624009
6,2021,4,10476933,12861,10489794,52.34,41262,28521,1413208,1245333,...,6032322,194251,10489794,4.546789e+07,1657615,5984240,2072236,523107,252596,10489794
7,2021,3,10075184,10357,10085541,48.46,40174,41437,2550229,1095772,...,4948174,163269,10085541,4.299994e+07,1950631,5826257,1566048,492415,250190,10085541
8,2021,2,9852702,10382,9863084,45.63,40172,42024,2531271,1080279,...,4661291,167369,9863084,3.823967e+07,2018587,5641731,1472246,476968,253552,9863084
9,2021,1,9637956,10016,9647972,43.11,39487,41674,2593477,1072722,...,4379965,186797,9647972,3.667637e+07,2175211,5424782,1362976,434548,250455,9647972

In [48]:
# Se revisan los valores que coindiden:
cantidad_iguales = (df_total_nacional['Total_x'] == df_total_nacional['Total_y']).sum()
# Imprimir la cantidad de valores iguales
print(cantidad_iguales)

23

In [49]:
# Existen valores con "." en algunas columnas, se procede a retirarlos
df_total_nacional['Hasta 512 kbps'] = df_total_nacional['Hasta 512 kbps'].astype(str).str.replace('.', '')
df_total_nacional.head(5)

,Año,Trimestre,Banda ancha fija,Dial up,Total_x,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,...,Más de 30 Mbps,OTROS,Total_y,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,3,11395115,11793,11406908,129.67,30274,80609,945608,998725,...,8003269,277421,11406908,1.331066e+08,897895,6018832,3708718,581436,200027,11406908
1,2023,2,11239781,12116,11251897,123.95,30827,79405,963510,1028250,...,7775095,275955,11251897,1.180603e+08,1006509,5997149,3463988,581823,202428,11251897
2,2022,4,11195668,12446,11208114,106.56,31981,85668,1075272,1109421,...,7410902,394282,11208114,7.244348e+07,1315373,6037457,3060575,572969,221740,11208114
3,2022,3,11078691,12437,11091128,62.46,33013,96727,1161370,1151906,...,6995750,349035,11091128,6.408678e+07,1395277,6031970,2871541,557110,235230,11091128
4,2022,2,10946248,12436,10958684,58.44,33667,99498,1193090,1197030,...,6741922,351594,10958684,6.041950e+07,1468333,5979214,2723285,556243,231609,10958684

In [50]:
# Eliminamos del mismo modo "." del resto de columnas
columnas = ['Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'OTROS']

for columna in columnas:
    df_total_nacional[columna] = df_total_nacional[columna].astype(str).str.replace('.', '')

In [51]:
# Revisamos las similitudes de las columnas
cantidad_iguales5 = (df_total_nacional['Total'] == df_total_nacional['Total_x']).sum()
# Imprimir la cantidad de valores iguales
print(cantidad_iguales5)

38

In [52]:
# Eliminamos columnas con información redundante
df_total_nacional = df_total_nacional.drop(['Total_y', 'Total_x'], axis=1)
df_total_nacional.head(3)

,Año,Trimestre,Banda ancha fija,Dial up,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,3,11395115,11793,129.67,30274,80609,945608,998725,720084,350918,8003269,277421,1.331066e+08,897895,6018832,3708718,581436,200027,11406908
1,2023,2,11239781,12116,123.95,30827,79405,963510,1028250,734125,364730,7775095,275955,1.180603e+08,1006509,5997149,3463988,581823,202428,11251897
2,2022,4,11195668,12446,106.56,31981,85668,1075272,1109421,765015,335573,7410902,394282,7.244348e+07,1315373,6037457,3060575,572969,221740,11208114

In [53]:
# Renombramos las columnas
df_total_nacional = df_total_nacional.rename(columns={'OTROS': 'Otros Mbps'})
df_total_nacional = df_total_nacional.rename(columns={'Otros': 'Otras conexiones'})
df_total_nacional = df_total_nacional.rename(columns={'Total': 'Total Mbps-conexiones'})

In [54]:
df_total_nacional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        38 non-null     int64
 1   Trimestre                  38 non-null     int64
 2   Banda ancha fija           38 non-null     int64
 3   Dial up                    38 non-null     int64
 4   Mbps (Media de bajada)     38 non-null     float64
 5   Hasta 512 kbps             38 non-null     object
 6   Entre 512 Kbps y 1 Mbps    38 non-null     object
 7   Entre 1 Mbps y 6 Mbps      38 non-null     object
 8   Entre 6 Mbps y 10 Mbps     38 non-null     object
 9   Entre 10 Mbps y 20 Mbps    38 non-null     object
 10  Entre 20 Mbps y 30 Mbps    38 non-null     object
 11  Más de 30 Mbps             38 non-null     object
 12  Otros Mbps                 38 non-null     object
 13  Ingresos (miles de pesos)  38 non-null     float64
 14  ADSL                       38 non-null     int64
 15  Cablemodem                 38 non-null     int64
 16  Fibra óptica               38 non-null     int64
 17  Wireless                   38 non-null     int64
 18  Otras conexiones           38 non-null     int64
 19  Total Mbps-conexiones      38 non-null     int64
dtypes: float64(2), int64(10), object(8)
memory usage: 6.1+ KB

In [55]:
# Se convierten columnas en float
columnas_convertir = ['Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'Otros Mbps']
df_total_nacional[columnas_convertir] = df_total_nacional[columnas_convertir].astype(float)

In [56]:
df_total_nacional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        38 non-null     int64
 1   Trimestre                  38 non-null     int64
 2   Banda ancha fija           38 non-null     int64
 3   Dial up                    38 non-null     int64
 4   Mbps (Media de bajada)     38 non-null     float64
 5   Hasta 512 kbps             38 non-null     float64
 6   Entre 512 Kbps y 1 Mbps    38 non-null     float64
 7   Entre 1 Mbps y 6 Mbps      38 non-null     float64
 8   Entre 6 Mbps y 10 Mbps     38 non-null     float64
 9   Entre 10 Mbps y 20 Mbps    38 non-null     float64
 10  Entre 20 Mbps y 30 Mbps    38 non-null     float64
 11  Más de 30 Mbps             38 non-null     float64
 12  Otros Mbps                 38 non-null     float64
 13  Ingresos (miles de pesos)  38 non-null     float64
 14  ADSL                       38 non-null     int64
 15  Cablemodem                 38 non-null     int64
 16  Fibra óptica               38 non-null     int64
 17  Wireless                   38 non-null     int64
 18  Otras conexiones           38 non-null     int64
 19  Total Mbps-conexiones      38 non-null     int64
dtypes: float64(10), int64(10)
memory usage: 6.1 KB

<h2> Transformación del tercer df: </h2>

In [57]:
df_total_provincias.head(3)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Longitud,Latitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,756,4600,0,3,0,742,0,726,6827,-60.173121,-35.433939
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192,-60.731609,-35.897345
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181,-60.081358,-35.164397

In [58]:
# Se transforman los datos necesarios

conversiones = {
    'Provincia': str,
    'Partido': str,
    'Localidad': str}

df_total_provincias = df_total_provincias.astype(conversiones)

In [59]:
# Vamos a colocar en los valores vacios un 0 y en la columna Link Indec que tiene valores sin datos igual.
df_total_provincias.loc[df_total_provincias['Link Indec'] == 'Sin Datos', 'Link Indec'] = 0
df_total_provincias = df_total_provincias.fillna(0)

C:\Users\tomif\AppData\Local\Temp\ipykernel_20112\1353788813.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_total_provincias = df_total_provincias.fillna(0)

In [60]:
df_total_provincias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2835 entries, 0 to 2834
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      2835 non-null   object
 1   Partido        2835 non-null   object
 2   Localidad      2835 non-null   object
 3   Link Indec     2835 non-null   int64
 4   ADSL           2835 non-null   int64
 5   CABLEMODEM     2835 non-null   int64
 6   DIAL UP        2835 non-null   int64
 7   FIBRA OPTICA   2835 non-null   int64
 8   OTROS          2835 non-null   int64
 9   SATELITAL      2835 non-null   int64
 10  WIMAX          2835 non-null   int64
 11  WIRELESS       2835 non-null   int64
 12  Total general  2835 non-null   int64
 13  Longitud       2835 non-null   float64
 14  Latitud        2835 non-null   float64
dtypes: float64(2), int64(10), object(3)
memory usage: 332.4+ KB

<h3> Por ultimo exportamos los dataframe finales a archivos en formato .csv </h3>

In [61]:
## df_combinado.to_csv('df_combinado.csv', index=False)

## df_agrupado.to_csv('df_agrupado.csv', index=False)

## df_total_nacional.to_csv('df_nacional.csv', index=False)

## df_total_provincias.to_csv('df_partidos.csv', index=False)